.App {
  font-family: sans-serif;
  text-align: center;
  padding-top: 3rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.active {
  color: red;
}

.pagination li {
  list-style-type: none;
  padding: 10px;
  background: azure;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
  display: flex;
}

.pagination li:first-child {
  border-left: 1px solid lightgrey;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.add-btn {
  margin-bottom: 10px;
}
